
    body {
      background-color: #DDD4CD;
      color: white;
      font-family: sans-serif;
      margin: 0;
      padding: 0;
    }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem; 
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  background-color: transparent;
  box-shadow: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header.scrolled {
  background-color: #211106; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.burger {
      display: none;
      flex-direction: column;
      gap: 4px;
      cursor: pointer;
    }

    .burger div {
      width: 25px;
      height: 3px;
      background-color: white;
    }

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    height: auto;
    
  }
   nav {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        flex-direction: column;
        width: 200px;
        display: none;
        padding: 10px;
      }

      nav.active {
        display: flex;
      }

      .burger {
        display: flex;
      }
}

    nav a {
      margin-left: 1.5rem;
      font-size: 1rem;
      text-decoration: none;
      color: #DDD4CD;
      font-family: 'GFS Didot', serif;
      transition: color 0.3s ease;
    }
    .contact-nav
{
    margin-right:17rem;
}

    nav a:hover {
      color: #C97B36;
    }
    nav a.active {
  color: #fb923c;
  font-weight: bold;
  border-bottom: 2px solid#fb923c;
}

    section {
  padding: 4rem 2.5rem;

}
.download-nav {
  margin-right: 10rem;
  font-size: 1rem;
  background-color: #375938; 
  color: #DDD4CD;
  text-decoration: none;
  padding:0.50rem;
  transition: background-color 0.3s;
  border: 2px solid #DDD4CD;
  width: 10rem;
  height: 1rem;
}

    .logo {
 
  font-size: 2rem;
  /* font-style: italic;
  font-weight: bold; */
  font-family: 'Caramel', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: #DDD4CD;
  
 
}
.home {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url('images/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin-bottom: -4.8rem;
  padding-left: 2rem;
  z-index: 1;
  overflow: hidden;
  height: 580px; 
}

/* Overlay */
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 8, 0.779); 
  z-index: -1; 
}

.eme{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(193, 117, 67);
  z-index: -1; 

}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home img {
  height: 450px;
  width: auto;
  margin-top: 5.5rem;
  margin-left: 8rem;
  margin-right: 3rem; 

  /* ✨ Animation */
  opacity: 0; /* Start hidden */
  animation: fadeInUp 0.8s ease-out forwards;
}

/* .home-content {
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 100vh;             
  text-align: center;     
  background-color: rgba(47, 87, 64, 0.9);
} */

/* .home-h2 {
  font-size: 5.5rem;
  font-family: 'GFS Didot', serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: #DDD4CD;
  margin: 0;                
  text-align: center;
} */

.home-h2 {
    font-family:'GFS Didot', serif;
    font-size: 4rem;
    margin-top:-1rem;
color: #DDD4CD;
    text-align: center;
    text-decoration: none; 
}


.home-content p.intro {
  margin-left:5rem;
  color: #DDD4CD;
  font-size: 1.125rem;
  margin-top:5.5rem;
  font-family: 'GFS Didot', serif;

}


.home-buttons {
  margin-top:-2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-works {
  background-color: #e4dac6;
  color: rgb(48, 42, 24);
}

.btn-contact {
  background-color: #ff658400;
  color: white;
  border-style: solid;
  border-color: #DDD4CD;
  border-width: 2px;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.tag {
  font-size: 1.5rem;
  font-weight: bold;
    
}
.role-div {
  display: flex;
  align-items: center;
  margin-left:5rem;
  margin-top: -6rem;
  height:5rem;
  
}
.role {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color:  #fb923c;
  /* border-right: 2px solid black;  */
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  font-family:'GFS Didot', serif;
  
}

.typing {
  animation: typing 3s steps(30) 1s forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 20ch; 
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}



.home-content .description {
margin-left:5rem;
  color: #DDD4CD;
  font-family: 'GFS Didot', serif;
  margin-top: -1rem;
  font-size: 1rem;  
 text-align: justify;
}
.home-content .socials a {
margin-left:1.8rem; 
  background-color: #C97B36;
  padding: 0.5rem;
  border-radius: 9999px;
  color: white;
  transition: background 0.3s;
}

.home-content .socials a:hover {
  background-color: #fb923c #fb923c;

}


    .about {
      background-color: #241916;
      color: #14532d;
      height:500px;
    }
    .about-text{
      margin-top: -10rem;
      font-family: 'GFS Didot', serif;
      font-size: 1.2rem;
      color: #DDD4CD;
      margin-top: 2rem;
      text-align: justify;
      padding: 0 2rem;
    }

     .about-boximage {
        margin-top: -4rem;
      background-color: #978a70;
      color: white;
      padding: 1.5rem;
      border-top-left-radius: 10rem;
      /* border-top-right-radius:1000px;  */
      border-bottom-left-radius: 10rem;
      /* border-bottom-right-radius: 10rem; */
      box-shadow: 4px 0 5px rgba(0, 0, 0, 0.5);
      height: 333px;
      width: 500px;
      margin-bottom: 3rem;
      margin-right: 10rem;
     
    }


    .about-images {
      flex: 1;
      display: flex;
      justify-content: center;
      padding-top: 0; 
      margin-top: -2.5rem; 
    
    }

    .about-images img {
      max-width: 80%;
      height: auto;
      margin-right:-10rem;
    }
    

  .about-title{
    font-family:'GFS Didot', serif;
    font-size: 4rem;
    color:#d2cbb5;
    margin-top: 4rem;
    text-align: left;
    margin-left: 3rem;
  }
    .about-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    @media (max-width: 768px) {
      .body{
        padding: 0 1rem;
    
      }
  .home {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    text-align: center;
    height:900px;
  }

  .home img {
    margin-top:10rem;
    height: 300px;
  
  }

  .home-content {
    margin-left: 0;
    max-width: 100%;
  }

  .home-content h2,
  .home-content p.intro,
  .home-content .tag,
  .home-content .description {
    margin-left: 0;
  }

  .home-content .socials {
    margin-left: 0;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .services-grid,
  .projects-container {
    grid-template-columns: 1fr; /* single column on mobile */
  }

  .project-box {
    width: 100%; /* Full width */
  }

  .contact-box {
    width: 90%;
    height: auto;
    border-radius: 2rem;
    margin-top: 2rem;
  }
}


    @media (min-width: 768px) {
      .about-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

   

    /* My experience section */
    .experience-section {
  padding: 4rem 2rem;
  background-image: url('images/experience.jpg');
  background-size: 110%;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  z-index: 1;
}

.experience-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(46, 37, 30, 0.868);
  z-index: -1;
}

.experience-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
 
 
}

.experience-header {
  text-align: center;

    font-family:'GFS Didot', serif;
    font-size: 3rem;
    color:#d2cbb5;
   
}

.experience-box {
  border: 1px solid #f7f8f788;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1.5rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
  width: 50%;
  margin: 0 auto; 
}

.experience-box:hover {
  transform: translateY(-5px);
}

.experience-date {
  font-weight: bold;
  color: #ddd;
}

.experience-company {
  font-style: italic;
  color: #ccc;
}

.experience-desc {
  margin-top: 0.5rem;
  color: #eee;
}

/* Fade-in animation */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease forwards;
}

.fade-in:nth-child(1) { animation-delay: 0.2s; }
.fade-in:nth-child(2) { animation-delay: 0.4s; }
.fade-in:nth-child(3) { animation-delay: 0.6s; }

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

    /* Services */
    .services {
      background-color: #322820;
      color: #14532d;
      text-align: center;
      font-family: 'GFS Didot', serif;
    }
    .service-header{
    font-family:'GFS Didot', serif;
    font-size: 4rem;
    color:#d2cbb5;
    text-align: center;
    margin-top: 2rem;
  }

    .services-grid {
      display: grid;
      gap: 2.5rem;
      justify-items: center;
      margin: 0 auto;
      max-width: 1200px;
    }

    @media (min-width: 768px) {
      .services-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    .service-title
    {
        margin-top:-1rem;
        font-weight:bold;
        font: size 20px;
        color: #DDD4CD
      
    }
    .service-description
    {
        margin-top:2rem;
        color: #DDD4CD;
        font-size: 1rem;
        text-align: justify;
    }

    .service-card {
      margin-top: 50px;
     background-color: #978a7000 !important;   
     color: white;
      padding: 1.5rem;
      /* border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;  */
      /* box-shadow: 4px 0 5px rgba(0, 0, 0, 0.5); */
      height: 300px;
      width: 250px;
      margin-bottom: 3rem;
      border-color: #7b6e65;
      border-style: solid;
      border-width: 3px;
   
    }
    
    .service-card:nth-child(1),
    .service-card:nth-child(2),
    .service-card:nth-child(3) {
      background-color:#375938;
    }

    .design {
      height: 50px;
      width: 50px;
      display: flex;
      padding-top: 30px;
      margin-left: auto;
      margin-right: auto; 
      margin-top: auto; 
      margin-bottom: auto; 
    }

    .service-card h3 {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      padding-top:60px;
    }

    .service-card p {
      font-size: 0.875rem;
    }
    .skill-title{
    font-family:'GFS Didot', serif;
    font-size: 2rem;
    color:#DDD4CD;
    text-align: center;
  }
   




    /* Project Section */
   .project-section {
  display: flex;
  gap: 1rem;
  background-color: #272019;
}


.project-h2{
  font-family:'GFS Didot', serif;
    font-size: 4rem;
    margin-top:-1rem;
color: #DDD4CD;
    text-align: left;
    text-decoration: none; 
}

.project-wrapper {
  display: flex;
  gap: 13rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Left column */
.project-left {
  flex: 1;
  min-width: 400px;
}


.project-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
 
}

.filter-button {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #eaeaea00;
  cursor: pointer;
  font-weight: bold;
   width:20rem !important;
   color:white;
   border-style: solid;
    border-color: #DDD4CD;
  border-width: 2px;
  transition: background-color 0.3s, transform 0.2s;
}
.filter-button:hover {
  background-color: #d4d4d4; 
  transform: scale(1.02);   
  color: black;
}

/* Right column */
.project-right {
  flex: 3;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;

}

.project-card {
  flex: 1 1 calc(33.333% - 1rem);
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 35rem;
  width:15rem !important;

}


.project-content {
  padding: 1rem;
}

.project-category {
  font-size: 0.8rem;
  color: gray;
}

.project-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.project-description {
  font-size: 0.9rem;
  color: #555;
}

.project-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
 
}


    /* Contact Section */

.contact-info {
  margin-top: -3rem;
}

.contact-item {
  display: block;
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #375938; 
  text-decoration: none;
}

.contact-item:hover {
  color: #2c6e34; 
}

.contact-item i {
  margin-right: 0.5rem;
  color: #375938; 
  font-size: 1.5rem;
}

/* Resume Button Styling */
.download-btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.1rem;
  background-color: #375938; 
  color: white;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.download-btn:hover {
  background-color: #2c6e34; 
}


.contact-p {
  font-family: 'Georama', serif;
  font-size: 3rem;
  margin-top: 2rem;
  color: #375938;
  text-align: center;
}

    #contact {
background-color: #DDD4CD;    
  color: #375938;
     
    }
    .contact-h2 {
    font-family:'GFS Didot', serif;
    font-size: 2rem;
    margin-top:-5rem;
    color:#375938;
    text-align: center;
}

    .contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DDD4CD;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    padding-top: 0; 
    margin-top: -5rem;
    height: 500px;
    width: 900px;
    margin-left: auto;
    margin-right: auto; 
}
@media (max-width: 768px) {
  .contact-box {
    width:auto;
    height: auto;
    padding: 2rem 1rem;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-top: -4.5rem;
  }
}

/* ===== SKILLS =====*/
.skills-section {
  padding: 4rem 2rem;
  color: white;
  background-color: #322820;
  gap: 1rem;
  display: flex;
}

.frontend-skill-box {
  display: flex;
  justify-content: start;
  align-items: left;
  border: 1px solid #ffffff66;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 2px;
  flex-wrap: wrap;
  width: 60%;
  height:260px !important;
  margin-left: auto; 
  transition: transform 0.3s ease;
  margin-right:10rem;
  margin-top: -3rem;
}

.skill-category-box {
  display: flex;
  justify-content: start;
  align-items: left;
  border: 1px solid #ffffff66;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 2rem;
   margin-top: -3rem;
  margin-bottom: 2px;
  flex-wrap: wrap;
  width: 80%;
  height: 150px;
  margin-left: auto; 
  transition: transform 0.3s ease;
  margin-right:10rem;
}


.skill-category-box:hover {
  transform: translateY(-5px);
}

.skill-left {
  flex: 1;
  text-align: left;
  font-size: 1.2rem;
}

.skill-right {
  flex: 2;
}

.skill-head {
  margin-bottom: 1rem;
  color: #f8f8f8;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill-box {
  background: transparent;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #fff;
  min-width: 100px;
 
}

.skill-box i {
  margin-right: 0.5rem;
}

.skills-h2 {
 font-family:'GFS Didot', serif;
    font-size: 4rem;
    margin-top:-1rem;
color: #DDD4CD;
    text-align: left;
    text-decoration: none; 
}

.skills-wrapper {
  display: flex;
  align-items: flex-start; /* Align top of both columns */
  justify-content: space-between;
  gap: 2rem; /* Space between left and right */
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.skills-heading {
  flex: 1;
  min-width: 250px;
}

.skills-content {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

/* Optional: Responsive tweak for smaller screens */
@media (max-width: 1024px) {
  .skills-content {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet */
  }
}

@media (max-width: 768px) {
  .skills-content {
    grid-template-columns: 1fr; /* 1 column on mobile */
  }
}


/* Fade-in Animation */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease forwards;
}

.fade-in:nth-child(1) { animation-delay: 0.2s; }
.fade-in:nth-child(2) { animation-delay: 0.4s; }
.fade-in:nth-child(3) { animation-delay: 0.6s; }
.fade-in:nth-child(4) { animation-delay: 0.8s; }

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Footer */
.footer-jenny{
 text-align:center;
 font-size: 2rem;
 /* font-style: italic;
 font-weight: bold; */
 font-family: 'Caramel', sans-serif;
 text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
 color: #DDD4CD;
}

.footer {
  background-color: #375938;
  color: #DDD4CD;
  padding: 2rem;
  text-align: center;
  font-family: 'GFS Didot', serif;
  position: relative;
}
.social-footer {

  background-color: #C97B36;
  padding: 0.5rem;
  border-radius: 9999px;
  color: white;
  transition: background 0.3s;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    gap: 1rem;
}
.social-footer a:hover {
  background-color: #fb923c;

}.tab-bar {
  text-align: center;
  margin-bottom: 2rem;
}

.tab-button {
  background: none;
  border: none;
  padding: 0.7rem 1.5rem;
  margin: 0 5px;
  cursor: pointer;
  font-weight: bold;
  color: #375938;
  position: relative;
  font-size: 1rem;
}

.tab-button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: #375938;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tab-button:hover::after,
.tab-button.active::after {
  width: 70%;
}

.tab-button:hover,
.tab-button.active {
  color: #375938;
  background: none;
}


.language-box {
  background: #283829ad;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 1px;
  color: #C97B36;
  width: 4rem;

}
.language-javascript {
   background: #283829ad;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 1px;
  color: #C97B36;
  width: 5rem;

}
.language-flutter {
  background: #283829ad;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 1px;
  color: #C97B36;
  width: 2.5rem;

}
.language-php {
   background: #283829ad;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 1px;
  color: #C97B36;
  width: 2.5rem;

}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: -1rem;
}

.projects-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.projects-container {
  display: flex;
  transition: transform 0.5s ease;
}

.projects-page {
  display: none;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;

}

.projects-page.active {
  display: flex;
}

.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
 color: #DDD4CD;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #245a2e;
  
}

.left-btn {
  left: 0;
}

.right-btn {
  right: 0;
}

/* footer */
.footer-text{
text-align: center; 
color: #DDD4CD; 
font-family: 'GFS Didot', serif;
}